<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utilis</title>
</head>
<body>
<h1>Analysing the text. Enter your text below</h1>
<form action = '/Analyse' method = 'get'>
    <textarea name = 'Text' style="margin: 0px; width: 1392px; height: 134px;"></textarea>
    <br>
    <input type = 'checkbox' name = 'removepunc'>Remove Punctuation<br>
    <input type = 'checkbox' name = 'capital'>Capitalise<br>
    <input type = 'checkbox' name = 'e_space'>Extra Space Remover<br>
    <input type = 'checkbox' name = 'new_line'>Remove New Line<br>
    <input type = 'checkbox' name = 'char_count'>Count Characters<br>
    <button type = 'Submit'>Analyze text</button>
</form>
</body>
</html>